<div id="<%= dom_id friend %>">
  <td>
    <strong>First name:</strong>
    <%= friend.first_name %>
  </td>

  <td>
    <strong>Last name:</strong>
    <%= friend.last_name %>
  </td>

  <td>
    <strong>Email:</strong>
    <%= friend.email %>
  </td>

  <td>
    <strong>Phone:</strong>
    <%= friend.phone %>
  </td>

  <td>
    <strong>Facebook:</strong>
    <%= friend.facebook %>
  </td>

  <td>
    <strong>Instagram:</strong>
    <%= friend.instagram %>
  </td>

  <td>
    <strong>Twitter:</strong>
    <%= friend.twitter %>
  </td>

</div>
